<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ubnt portal</title>

    <!-- Bootstrap -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../styles/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="../../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <h4>漫咖啡</h4>
</header>

<div class="carousel-ads-container">
    <div id="carousel-ads" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-ads" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-ads" data-slide-to="1"></li>
            <li data-target="#carousel-ads" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="center-block img-responsive" src="../../imgs/pic_001.jpg" alt="">
                <div class="carousel-caption">
                    <p>最近活动 全场85折最近活动 全场85折最近活动 全场85折</p>
                </div>
            </div>
            <div class="item">
                <img class="center-block img-responsive" src="../../imgs/pic_002.jpg" alt="">
                <div class="carousel-caption">
                    <p>最近活动 全场86折</p>
                </div>
            </div>
            <div class="item">
                <img class="center-block img-responsive" src="../../imgs/pic_003.jpg" alt="">
                <div class="carousel-caption">
                    <p>最近活动 全场87折</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container authorize_success_style_1">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 authorize_success">
            <div>
                <h2 class="tip"><span class="icon-checkmark"></span>授权成功</h2>
            </div>
            <div class="row">
                <div class="col-xs-6 left">
                    <div class="img-container center-block">
                        <a href="">
                            <img src="../../imgs/pic_001.jpg" class="img-responsive" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 right">
                    <div class="img-container center-block">
                        <a href="">
                            <img src="../../imgs/pic_001.jpg" class="img-responsive" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 left">
                    <div class="img-container center-block">
                        <a href="">
                            <img src="../../imgs/pic_001.jpg" class="img-responsive" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 right">
                    <div class="img-container center-block">
                        <a href="">
                            <img src="../../imgs/pic_001.jpg" class="img-responsive" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="information">
                <li><span class="icon-home"></span>上海市闵行区金汇南路265号（近虹泉路）</li>
                <li><span class="icon-phone"></span>021-54222597</li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <h4>技术支持<small>优倍快网络技术咨询(上海)有限公司</small></h4>
</footer>

<script src="../../bower_components/jquery/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../scripts/hammer.js"></script>
<script src="../../scripts/focusTouch.js"></script>

</body>
</html>